# Lab 1.01 - Australian Athletes (ais)

In the Python cell below this one, paste all the imports you need for data analysis from the code examples (Numpy, Pandas, etc.).

In [1]:
pip install numpy scipy pandas matplotlib seaborn altair statsmodels

Requirement already satisfied: numpy in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (1.22.4)
Requirement already satisfied: scipy in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (1.8.1)
Requirement already satisfied: pandas in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (1.4.2)
Requirement already satisfied: matplotlib in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (3.5.2)
Requirement already satisfied: seaborn in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (0.11.2)
Requirement already satisfied: altair in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (4.2.0)
Requirement already satisfied: statsmodels in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (0.13.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.33.3)
Requirement already satisfied: jinja2 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from altair) (3.1.2)
Requirement already satisfied: entrypoints in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from altair) (0.4)
Requirement already satisfied: toolz in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from altair) (0.11.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from altair) (4.5.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: attrs>=17.4.0 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from jsonschema>=3.0->altair) (0.18.1)
Requirement already satisfied: six in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\joris\appdata\local\programs\python\python310\lib\site-packages (from jinja2->altair) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.1 is available.
You should consider upgrading via the 'c:\Users\Joris\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
# Importing the necessary packages
import numpy as np                                  # "Scientific computing"
import scipy.stats as stats                         # Statistical tests

import pandas as pd                                 # Data Frame
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt                     # Basic visualisation
from statsmodels.graphics.mosaicplot import mosaic  # Mosaic diagram
import seaborn as sns                               # Advanced data visualisation
import altair as alt                                # Alternative visualisation system

Declare a variable `ais` and use it to import the dataset from the CSV-file `ais.csv` in [the directory `data/`](https://github.com/HoGentTIN/dsai-en-labs/tree/main/data) of the [Github repository](https://github.com/HoGentTIN/dsai-en-labs/) for the lab assignments. You can import a dataset with a URL pointing to the raw contents of the CSV-file in the Github repository (see the code example!).

This dataset contains 202 observations of Australian athletes with a variety of blood values. You can find the codebook (i.e., the explanation of what each variable/column in the dataset means) in [data/ais.md](https://github.com/HoGentTIN/dsai-en-labs/blob/main/data/ais.md). Show the first few observations of this sample.

In [3]:
ais = pd.read_csv('https://raw.githubusercontent.com/HoGentTIN/dsai-en-labs/main/data/ais.csv')
ais.head()

,id,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
0,1,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
1,2,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
2,3,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
3,4,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
4,5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball

Get general information about this dataset:

- How many rows and columns does the dataset have?
- Show general information about each variable, specifically the number of empty fields and the type of each variable (e.g., int64, float64, object)
- How many columns of each type are there?
- What is the measurement level (nominal, ordinal, interval, ratio) of each variable?

In [8]:
# How many rows and columns does the dataset have?
print(f"Number of rows: {len(ais)}")
print(f"Number of columns: {len(ais.columns)}")

# Show general information about each variable, specifically the number of empty fields and the type of each variable (e.g., int64, float64, object)
print("*"*50)
ais.info()

# Give the data type of each column.
print("*"*50)
print(ais.dtypes)
print(ais.dtypes.value_counts())

Number of rows: 202
Number of columns: 14
**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      202 non-null    int64
 1   rcc     202 non-null    float64
 2   wcc     202 non-null    float64
 3   hc      202 non-null    float64
 4   hg      202 non-null    float64
 5   ferr    202 non-null    int64
 6   bmi     202 non-null    float64
 7   ssf     202 non-null    float64
 8   pcBfat  202 non-null    float64
 9   lbm     202 non-null    float64
 10  ht      202 non-null    float64
 11  wt      202 non-null    float64
 12  sex     202 non-null    object
 13  sport   202 non-null    category
dtypes: category(1), float64(10), int64(2), object(1)
memory usage: 21.2+ KB
**************************************************
id           int64
rcc        float64
wcc        float64
hc         float64
hg         float64
ferr         int64
bmi        float64
ssf        float64
pcBfat     float64
lbm        float64
ht         float64
wt         float64
sex         object
sport     category
dtype: object
float64     10
int64        2
object       1
category     1
dtype: int64

The column "id" is not an actual variable, but an index. Mark it as such.

In [5]:
ais.set_index(['id'])

,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
id,,,,,,,,,,,,,
1,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
2,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
3,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
4,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,4.90,7.6,45.6,16.0,90,27.56,67.2,11.79,82.00,183.9,93.2,m,W_Polo
199,5.66,8.3,50.2,17.7,38,23.76,56.5,10.05,72.00,183.5,80.0,m,Tennis
200,5.03,6.4,42.7,14.3,122,22.01,47.6,8.51,68.00,183.1,73.8,m,Tennis
201,4.97,8.8,43.0,14.9,233,22.34,60.4,11.50,63.00,178.4,71.1,m,Tennis
202,5.38,6.3,46.0,15.7,32,21.07,34.9,6.26,72.00,190.8,76.7,m,Tennis

The variables that are now considered "object" are qualitative variables. Change the type of each of these variables to "category". For ordinal variables, also define a type and impose an order. Verify that the conversion was successful by requesting info about the types again.

In [7]:
# Describe the variable sport -> is considered to be quantitative
#print(ais.sport.describe())
# Convert to a categorical variable
ais.sport = ais.sport.astype('category')
# Ask to describe once more -> not it is considered to be qualitative
#print(ais.sport.describe())

#print(ais.sex.describe())
ais.sex = ais.sex.astype('category')
#print(ais.sex.describe())

count     202
unique     10
top       Row
freq       37
Name: sport, dtype: object
count     202
unique     10
top       Row
freq       37
Name: sport, dtype: object

Describe the columns `ferr`, `bmi`, `sex` and `sport` and the unique values in each of these columns. Do you recognize the characteristics of qualitative and quantitative variables in the result?

In [12]:
print(ais.ferr.describe())
print(ais.ferr.unique())
print(ais.bmi.describe())
print(ais.bmi.unique())
print(ais.sex.describe())
print(ais.sex.unique())
print(ais.sport.describe())
print(ais.sport.unique())
print(ais.sport.value_counts())

count    202.000000
mean      76.876238
std       47.501239
min        8.000000
25%       41.250000
50%       65.500000
75%       97.000000
max      234.000000
Name: ferr, dtype: float64
[ 60  68  21  69  29  42  73  44  41  38  26  30  48  43  34  53  59  40
  92  77  71  37  85  64  19  39  13  20  22  78 109 102 107  58 127  86
  50  33  51  82  25  27 115 124  54 164  36  62  90  12  45  16  46  57
  88 182  80  66  63  97  55  76  93 155  99  35 176 177 130 125 150  89
 183  84  70 118  61  72  91 110  49   8 106  32 103 101  56  74  87 139
  67 132 212  94 213 122 184 220 191 189 141 126 234 156 117  52 133 214
 143  65 233]
count    202.000000
mean      22.955891
std        2.863933
min       16.750000
25%       21.082500
50%       22.720000
75%       24.465000
max       34.420000
Name: bmi, dtype: float64
[20.56 20.67 21.86 21.88 18.96 21.04 21.69 20.62 22.64 19.44 25.75 21.2
 22.03 25.44 22.63 22.27 21.27 23.47 23.19 23.17 24.54 22.96 19.76 23.36
 22.67 24.24 24.21 20.46 20.81 20.17 23.06 24.4  23.97 22.62 19.16 21.15
 21.4  21.03 21.77 21.38 21.47 24.45 22.8  23.58 20.06 23.01 24.64 18.26
 24.47 23.99 26.24 20.04 25.72 25.64 19.87 23.35 22.42 20.42 22.13 25.17
 23.72 21.28 20.87 19.   22.04 20.12 21.35 28.57 26.95 28.13 26.85 25.27
 31.93 16.75 19.54 22.76 22.35 20.77 19.37 22.37 17.54 19.06 20.3  20.15
 25.36 22.12 21.25 20.53 17.06 18.29 18.37 18.93 17.79 17.05 20.31 22.46
 23.88 23.68 23.15 22.32 24.02 23.29 25.11 22.81 26.25 22.52 26.73 23.57
 25.84 24.06 23.85 25.09 23.84 25.31 19.69 26.07 25.5  23.69 26.79 25.61
 25.06 24.93 20.69 25.93 25.38 22.68 22.44 22.57 19.81 21.19 20.39 21.12
 21.89 29.97 27.39 23.11 21.75 20.89 22.83 22.02 20.07 21.24 19.63 21.65
 23.25 32.52 22.59 30.18 34.42 24.81 21.68 23.12 20.76 23.13 22.28 23.55
 19.85 26.51 24.78 33.73 23.31 24.51 25.37 23.67 24.28 25.82 21.93 23.38
 23.07 25.21 22.93 26.86 21.26 25.43 27.79 27.56 23.76 22.01 22.34 21.07]
count     202
unique      2
top         m
freq      102
Name: sex, dtype: object
['f' 'm']
count     202
unique     10
top       Row
freq       37
Name: sport, dtype: object
['B_Ball', 'Row', 'Netball', 'Swim', 'Field', 'T_400m', 'T_Sprnt', 'Tennis', 'Gym', 'W_Polo']
Categories (10, object): ['B_Ball', 'Field', 'Gym', 'Netball', ..., 'T_400m', 'T_Sprnt', 'Tennis', 'W_Polo']
Row        37
T_400m     29
B_Ball     25
Netball    23
Swim       22
Field      19
W_Polo     17
T_Sprnt    15
Tennis     11
Gym         4
Name: sport, dtype: int64

Select following elements from the dataset:

- the second row (ids = 2)
- rows 4 to 6 (ids = 5 to 7)
- Columns 6 to 8 (`ferr`, `bmi`, `ssf`)
- the variable `pcBfat` (by name!). There are multiple ways to retrieve this!
- all observations for the sport "Netball"
- just the variable `wt` of the observations for "Netball"
- which sports are played by athletes with a BMI higher than 26? Also, provide a list of the unique values and a frequency table of how often each sport occurs.

In [17]:
# the second row (ids = 2)
ais.iloc[1] # want [0] -> id = 1

id             2
rcc         4.41
wcc          8.3
hc          38.2
hg          12.7
ferr          68
bmi        20.67
ssf        102.8
pcBfat      21.3
lbm        58.55
ht         189.7
wt          74.4
sex            f
sport     B_Ball
Name: 1, dtype: object

In [15]:
# rows 4 to 6 (ids = 5 to 7)
ais.iloc[4:7]

,id,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
4,5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball
5,6,4.10,4.4,37.4,12.5,42,21.04,75.2,15.58,53.77,174.0,63.7,f,B_Ball
6,7,4.31,5.3,39.6,12.8,73,21.69,87.2,19.99,60.17,186.2,75.2,f,B_Ball

In [18]:
# Columns 6 to 8 (`ferr`, `bmi`, `ssf`)
ais.iloc[:,5:8]

     ferr    bmi    ssf
0      60  20.56  109.1
1      68  20.67  102.8
2      21  21.86  104.6
3      69  21.88  126.4
4      29  18.96   80.3
..    ...    ...    ...
197    90  27.56   67.2
198    38  23.76   56.5
199   122  22.01   47.6
200   233  22.34   60.4
201    32  21.07   34.9

[202 rows x 3 columns]

In [19]:
# the variable `pcBfat` (by name!). There are multiple ways to retrieve this!
ais['pcBfat']

0      19.75
1      21.30
2      19.88
3      23.66
4      17.64
       ...
197    11.79
198    10.05
199     8.51
200    11.50
201     6.26
Name: pcBfat, Length: 202, dtype: float64

In [20]:
# all observations for the sport "Netball"
ais[ais['sport'] == 'Netball']

,id,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
35,36,4.56,13.3,42.2,13.6,20,19.16,49.0,11.29,53.14,176.8,59.9,f,Netball
36,37,4.15,6.0,38.0,12.7,59,21.15,110.2,25.26,47.09,172.6,63.0,f,Netball
37,38,4.16,7.6,37.5,12.3,22,21.40,89.0,19.39,53.44,176.0,66.3,f,Netball
38,39,4.32,6.4,37.7,12.3,30,21.03,98.3,19.63,48.78,169.9,60.7,f,Netball
39,40,4.06,5.8,38.7,12.8,78,21.77,122.1,23.11,56.05,183.0,72.9,f,Netball
40,41,4.12,6.1,36.6,11.8,21,21.38,90.4,16.86,56.45,178.2,67.9,f,Netball
41,42,4.17,5.0,37.4,12.7,109,21.47,106.9,21.32,53.11,177.3,67.5,f,Netball
42,43,3.80,6.6,36.5,12.4,102,24.45,156.6,26.57,54.41,174.1,74.1,f,Netball
43,44,3.96,5.5,36.3,12.4,71,22.63,101.1,17.93,55.97,173.6,68.2,f,Netball
44,45,4.44,9.7,41.4,14.1,64,22.80,126.4,24.97,51.62,173.7,68.8,f,Netball
45,46,4.27,10.6,37.7,12.5,68,23.58,114.0,22.62,58.27,178.7,75.3,f,Netball
46,47,3.90,6.3,35.9,12.1,78,20.06,70.0,15.01,57.28,183.3,67.4,f,Netball
47,48,4.02,9.1,37.7,12.7,107,23.01,77.0,18.14,57.30,174.4,70.0,f,Netball
48,49,4.39,9.6,38.3,12.5,39,24.64,148.9,26.78,54.18,173.3,74.0,f,Netball
49,50,4.52,5.1,38.8,13.1,58,18.26,80.1,17.22,42.96,168.6,51.9,f,Netball
50,51,4.25,10.7,39.5,13.2,127,24.47,156.6,26.50,54.46,174.0,74.1,f,Netball
51,52,4.46,10.9,39.7,13.7,102,23.99,115.9,23.01,57.20,176.0,74.3,f,Netball
52,53,4.40,9.3,40.4,13.6,86,26.24,181.7,30.10,54.38,172.2,77.8,f,Netball
53,54,4.83,8.4,41.8,13.4,40,20.04,71.6,13.93,57.58,182.7,66.9,f,Netball
54,55,4.23,6.9,38.3,12.6,50,25.72,143.5,26.65,61.46,180.5,83.8,f,Netball
55,56,4.24,8.4,37.6,12.5,58,25.64,200.8,35.52,53.46,179.8,82.9,f,Netball
56,57,3.95,6.6,38.4,12.8,33,19.87,68.9,15.59,54.11,179.6,64.1,f,Netball
57,58,4.03,8.5,37.7,13.0,51,23.35,103.6,19.61,55.35,171.7,68.8,f,Netball

In [21]:
# just the variable `wt` of the observations for "Netball"
ais[ais['sport'] == 'Netball']['wt']

35    59.9
36    63.0
37    66.3
38    60.7
39    72.9
40    67.9
41    67.5
42    74.1
43    68.2
44    68.8
45    75.3
46    67.4
47    70.0
48    74.0
49    51.9
50    74.1
51    74.3
52    77.8
53    66.9
54    83.8
55    82.9
56    64.1
57    68.8
Name: wt, dtype: float64

In [23]:
# which sports are played by athletes with a BMI higher than 26? Also, provide a list of the unique values and a frequency table of how often each sport occurs.
ais[ais['bmi'] > 26]['sport']

52     Netball
69       Field
70       Field
71       Field
72       Field
74       Field
109       Swim
112       Swim
121        Row
124        Row
144      Field
145      Field
159      Field
161      Field
162      Field
175    T_Sprnt
177      Field
178      Field
191     W_Polo
195     W_Polo
197     W_Polo
Name: sport, dtype: category
Categories (10, object): ['B_Ball', 'Field', 'Gym', 'Netball', ..., 'T_400m', 'T_Sprnt', 'Tennis', 'W_Polo']